<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Editar Usuario</title>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/ediusu.css') }}">
</head>
<body>

  <div class="form-container">
    <h2>Editar Usuario</h2>
    <form action="{{ url_for('editar_usuario', id=usuario['id']) }}" method="POST" enctype="multipart/form-data" novalidate>
      
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" value="{{ usuario['nombre'] }}" >

      <label for="apellido_paterno">Apellido Paterno:</label>
      <input type="text" id="apellido_paterno" name="apellido_paterno" value="{{ usuario['apellido_paterno'] }}" >

      <label for="apellido_materno">Apellido Materno:</label>
      <input type="text" id="apellido_materno" name="apellido_materno" value="{{ usuario['apellido_materno'] }}" >

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="{{ usuario['email'] }}" >

      <label for="municipio">Municipio:</label>
      <input type="text" id="municipio" name="municipio" value="{{ usuario['municipio'] }}">

      <label for="apodo">Apodo:</label>
      <input type="text" id="apodo" name="apodo" value="{{ usuario['apodo'] }}">

      <label for="foto_perfil">Foto Perfil (dejar vacío para no cambiar):</label>
      <input type="file" id="foto_perfil" name="foto_perfil" accept="image/*">

      <button type="submit">Actualizar</button>
    </form>
    <a href="{{ url_for('QroDash') }}" class="cancel-link">Cancelar</a>
  </div>

</body>
</html>
